[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pytest-cov = "*"

[dev-packages]
pytest = "*"
black = "*"
requests-mock = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
